.places__paragraph {
    margin: 0;
    padding: 0;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 768px) {
    .places__paragraph {
        font-size: 16px;
    }
}