.places__link {
    color: #FFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
}

.places__link:hover {
    opacity: 0.8;
}


