.places__link {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Inter', sans-serif;
    transition: opacity .5s;
    text-decoration-line: underline;
}

.places__link:hover {
    opacity: 0.8;
}

.places__link:visited {
    color: #fff;
}

.places__link:link {
    color: #fff;
}

.places__link:active {
    color: #fff;
}