.footer__links {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: 18px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 650px) {
    .footer__links {
        margin: 0;
        margin-bottom: 48px;
        padding: 0;
        list-style: none;
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
}