.lead__subtitle {
    max-width: 640px;
    margin: 32px auto 64px;
    padding: 0;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

@media (max-width: 1024px) {
    .lead__subtitle {
        margin: 32px auto 56px;
    }
}

@media (max-width: 720px) {
    .lead__subtitle {
        max-width: 288px;
        margin: 16px auto 40px;
        font-size: 16px;
        line-height: 20px;
    }
}