.cover {
    display: grid;
    margin: 92px auto 0;
    padding: 0;
    text-decoration: none;
    grid-template: 1fr / 1fr;
}
@media (max-width: 320px) {
    .cover {
        margin: 64px auto 0;
    }
}
.cover.cover:visited {
    color: #fff;
}

.cover:link {
    color: #fff;
}


.cover:hover {
    color: #fff;
}

.cover:active {
    color: #fff;
}