.container {
    color: #fff;
    font-family: Inter;
    background-color: #2A2C2F;
}

a.cover:visited {
    color: #fff;
}

a:link {
    color: #fff;
}


a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}